.env
.venv

# Ignore all .mp3 and .wav files
*.mp3
*.wav

# But do not ignore .mp3 and .wav files in the Giong directory and its subdirectories
!UI_Text2Speech/Giong/*.mp3
!UI_Text2Speech/Giong/**/*.wav

*__pycache__
